@model IEnumerable<hwShoppingCart.Models.tOrder>

@{
    ViewBag.Title = "會員訂單紀錄";
}

<h2>會員訂單紀錄</h2>


<table class="table">
    <tr>
        <th>
          訂單編號
        </th>
        <th>
            訂購人
        </th>
        <th>
            收件人
        </th>
        <th>
           收件人信箱
        </th>
        <th>
          收件地址
        </th>
        <th>
            訂購日期
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fOrderGuid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fUserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fReceiver)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fDate)
        </td>
        <td>
            <a href="@Url.Action("OrderDetail")?fOrderGuid=@item.fOrderGuid" class="btn btn-info">訂單明細</a>
        </td>

    </tr>
}

</table>
